@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Poppins&family=Raleway&display=swap");
@media (max-width: 600px) {
  header {
    width: 100%;
    height: auto;
    padding-top: 0px;
    overflow: hidden;
    background-image: url(./img/Background.png);
    background-size: cover;
  }
  header .header-background2 {
    display: none;
  }
  header .logo {
    display: none;
  }
  header .medialogo {
    display: block;
  }
  header .dennoch {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 60px;
  }
  header .sun {
    position: absolute;
    width: 40px;
    height: 40px;
    display: none;
  }
  header .moon {
    position: absolute;
    width: 20px;
    height: 20px;
    display: flex;
  }
  header nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #000;
  }
  header nav .navbar {
    width: 30px;
    height: 50px;
    display: flex;
    flex-direction: column;
  }
  header nav .navbar span {
    width: 30px;
    height: 3px;
  }
  header nav .navbarx {
    width: 30px;
    height: 50px;
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  header nav .navbarx-r {
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    transform: rotate(45deg);
    transition: all 0.5s;
  }
  header nav .navbarx-l {
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    transition: all 0.5s;
    transform: rotate(135deg);
  }
  header nav ul {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 60px;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5058823529);
    transition: all 0.5s;
  }
  header nav ul .btn-header {
    width: 100%;
    border-radius: 0px;
  }
  header .header-item {
    width: 382px;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
  }
  header .header-item .header-info {
    width: 382px;
    height: auto;
    gap: 54px;
    align-items: center;
    margin-top: 195px;
  }
  header .header-item .header-info p {
    color: #fff;
    font-size: 25px;
  }
  header .header-item .header-info .header-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header .header-item .header-info .header-frame h1 {
    color: #fff;
    font-size: 40px;
  }
  header .header-item .header-info .header-frame span {
    width: 382px;
    height: 26px;
    color: #909090;
    text-align: center;
    font-size: 20px;
  }
  header .header-item .header-info .header-links {
    display: flex;
    align-items: center;
    margin-top: 0px;
    gap: 31px;
  }
  header .header-item .header-info .header-links a {
    background: none;
    box-shadow: none;
  }
  header .header-item .header-img1 {
    display: none;
  }
  header .header-item .header-background {
    display: none;
  }
  section {
    width: 100%;
    height: 547px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  section h1 {
    width: 285px;
    font-size: 25px;
    text-align: center;
  }
  section p {
    width: 284px;
    height: 275px;
  }
  section .section-item {
    z-index: -1;
  }
  .background-frame {
    width: 100%;
    height: 2340px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(26, 21, 21, 0) 0%, rgba(1, 1, 1, 0.16) 100%), #FFF;
    position: absolute;
    top: 1165px;
    z-index: -1;
  }
  .about {
    width: 382;
    height: auto;
    margin-top: 74px;
  }
  .about .title {
    width: 210px;
    height: 68px;
    font-size: 14px;
  }
  .about h2 {
    width: 265px;
    height: 225px;
    font-size: 12px;
    margin-top: 38px;
  }
  .about a {
    margin-top: 30px;
  }
  .about .about-separator {
    margin-top: 85px;
  }
  .about .about-item {
    flex-direction: column;
    margin-top: 61px;
  }
  .about .about-item .about-info1 {
    display: flex;
    flex-direction: column;
  }
  .about .about-item .about-info1 h1 {
    width: 90px;
    height: 74px;
    font-size: 17px;
  }
  .about .about-item .about-info1 p {
    width: 249px;
    height: 77px;
  }
  .about .about-info2 h1 {
    width: 90px;
    height: 74px;
    font-size: 17px;
  }
  .about .about-info2 p {
    width: 249px;
    height: 77px;
  }
  .skills {
    width: 382px;
    margin-top: 150px;
    overflow: scroll;
  }
  .skills .title {
    width: 161px;
    height: 68px;
    font-size: 14px;
  }
  .skills .usingnow {
    width: 100%;
    align-items: center;
    gap: 47px;
    margin-top: 60px;
  }
  .skills .usingnow .usingnow-item {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
  }
  .skills .learning {
    display: none;
  }
  .skills .otherskills {
    display: none;
  }
  .portfolio {
    width: 100%;
    height: auto;
  }
  .portfolio .title {
    width: 100%;
    height: 194px;
    padding: 63px 57px;
    background-image: url(./img/portfolioback.png);
    background-size: cover;
  }
  .portfolio .title h1 {
    width: 210px;
    height: 68px;
    font-size: 14px;
    line-height: 127.9%;
    letter-spacing: 6.095px;
  }
  .portfolio .portfolio-nav {
    width: 382px;
    display: flex;
    align-items: center;
  }
  .portfolio .projects {
    width: 382px;
    height: 602px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    overflow: scroll;
  }
  .portfolio .projects img {
    width: 382px;
    height: 209px;
  }
  .portfolio a {
    font-size: 16px;
  }
  .contact {
    width: 100%;
    height: 960px;
    padding-top: 62px;
  }
  .contact h1 {
    width: 156px;
    height: 68px;
    font-size: 14px;
    line-height: 127.9%;
    letter-spacing: 4.975px;
  }
  .contact p {
    width: 313px;
    height: 65px;
    font-size: 15px;
    line-height: normal;
    margin-top: 40px;
  }
  .contact .contact-separator {
    display: block;
    margin-top: 68px;
  }
  .contact input {
    width: 243px;
    height: 43px;
    padding-left: 8px;
    font-size: 12px;
  }
  .contact .massage {
    height: 165px;
    width: 243px;
  }
  .contact .contact-btn {
    width: 141px;
    height: 40px;
    font-size: 13px;
    letter-spacing: 1.3px;
    margin-top: 58px;
  }
  .footer {
    width: 100%;
    height: 289px;
    padding: 46px 0;
  }
}/*# sourceMappingURL=media.css.map */