@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Poppins&family=Raleway&display=swap');

.skills {
    width: 1066px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;

    .title {
        width: 404px;
        height: 107px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 8px solid #000;
        background: rgba(255, 255, 255, 0.00);
        color: #000;
        text-align: center;
        font-family: 'Montserrat';
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 127.9%;
        /* 38.37px */
        letter-spacing: 10.661px;
        text-transform: uppercase;
    }

    .usingnow {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 75px;
        margin-top: 102px;

        h1 {
            color: #000;
            font-family: 'Montserrat';
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 5.561px;
        }

        .usingnow-item {
            width: 100%;
            height: auto;
            display: grid;
            row-gap: 65px;
            grid-template-columns: auto auto auto auto;
            grid-template-rows: auto auto;

            .usingnow-frame {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 17px;

                p {
                    color: #000;
                    text-align: center;
                    font-family: 'Montserrat';
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 3.249px;
                }
            }
        }
    }

    .learning {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 75px;
        margin-top: 102px;

        h1 {
            color: #000;
            font-family: 'Montserrat';
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 5.561px;
        }

        .learning-item {
            width: 100%;
            height: auto;
            display: grid;
            row-gap: 65px;
            grid-template-columns: auto auto auto auto;
            grid-template-rows: auto auto;

            .learning-frame {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 17px;

                p {
                    color: #000;
                    text-align: center;
                    font-family: 'Montserrat';
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 3.249px;
                }
            }
        }
    }

    .otherskills {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 75px;
        margin-top: 102px;

        h1 {
            color: #000;
            font-family: 'Montserrat';
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 5.561px;
        }

        .otherskills-item {
            width: 100%;
            height: auto;
            display: grid;
            row-gap: 65px;
            grid-template-columns: auto auto auto auto;
            grid-template-rows: auto auto;

            .otherskills-frame {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 17px;

                p {
                    color: #000;
                    text-align: center;
                    font-family: 'Montserrat';
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 3.249px;
                }
            }
        }
    }
}